/*
STYLES FOR THE LOGIN PAGE
*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content:center;
    gap: 100px;
}
/* 
The "head" is a div where locates the logo
*/
#head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: linear-gradient(to right, #7474CF 7%, #1A1A2E 100%);
    width: 100vw;
    
}
#head button{
    background: none;
    border: none;
    width: 100px;
    height: 100px;
}

/*The "container" is a div where the main content is located*/
#container{
     display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content:center;
    gap: 16px;
}
/*Style for the login form*/
#container form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
/*Style for the input fields*/
#container input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 200px;  
}

#container .altLog {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 40px;
    width:200px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #4285F4;
    color:white;
    height: 30px;
}

#container form button{
    padding: 8px;
    border: none;
    border-radius: 20px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

#container .register{
    background: none;
    border: none;
    color: #007BFF;
    cursor: pointer;
}


